<div class="container">
  <br>
  <div></div>
  <div class="roomBox" ng-show="showAllArea">
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-2 text-center">Room</th>
          <th class="col-xs-3 text-center">Room Info.</th>
          <th class="col-xs-1 text-center">Capacity</th>
          <th class="col-xs-1 text-center">Guest Amount</th>
          <th class="col-xs-1 text-center">Avaliable Amount</th>
          <th class="col-xs-2 text-center">Renters</th>
          <th class="col-xs-2 text-center">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="apartmentRoom in apartmentRooms track by $index">
          <td>{{apartmentRoom.name}}</td>
          <td>{{apartmentRoom.roomInfo[0]}}</td>
          <td>{{apartmentRoom.capacity}}</td>
          <td>{{apartmentRoom.renters.length}}</td>
          <td>{{apartmentRoom.capacity - apartmentRoom.renters.length}}</td>
          <td>
            <div ng-repeat="renter in apartmentRoom.renters">
              {{renter.name}}
            </div>
          </td>

          <td>
            <button ng-click="moveIn($index)" class="btn btn-warning"><i class="fa fa-user-plus"></i></button>
            <button ng-click="moveOut($index)" class="btn btn-danger"><i class="fa fa-user-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="moveInBox myShowAll" ng-show="showMoveInBox">
      <div class="alert alert-success">
        <div class="row">
          <div class="col-xs-10 text-left">
            <span class="fa fa-question-circle"></span>  Apartment Detail
          </div>
          <div class="col-xs-2 text-right">
            <!-- <button ng-click="resetCreateApaArea()" class="btn btn-danger btn-sm text-right"><span class="fa fa-times-circle"></span></button> -->
          </div>
        </div>
      </div>
      <div>
      <form class="form-horizontal" ng-submit="addRenterToRoom()">
        <div class="row">
          <label class="col-sm-4 control-label">Room Name: </label>
          <div class="col-sm-8 text-left">
            {{apartmentDetail.name}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Capacity: </label>
          <div class="col-sm-8 text-left">
            {{apartmentDetail.capacity}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Room Info.: </label>
          <div class="col-sm-8 text-left">
            {{apartmentDetail.roomInfo}}
          </div>
        </div>

        <div class="row">
          <label class="col-sm-4 control-label">Renter: </label>
          <div class="col-sm-8 text-left">
            <select ng-options="renter.name for renter in renters" ng-value="'renter.id'" ng-model="selectedRenter"></select>
          </div>
        </div>
        <button class="btn btn-success createButt"><span class="fa fa-send"></span> MOVE IN</button>
      </div>
      </form>

      </div>
      </div>

      <div class="col-xs-4 renterList">
        <!-- <div class="">
          <span>
            <button><i class="fa fa-user-plus"></i></button>
          </span>
          <span>
            {{renter.name}}
          </span>

        </div>
      </div> -->
    </div>







</div>
